:root {
  --grey-borders: rgb(210, 209, 209);
  --grey-bg: rgba(238, 238, 238);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}
.app {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  box-sizing: border-box;
}

/* header component styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 2px solid var(--grey-borders);
  grid-column: 1/3;
}

header > h1 {
  font-size: 36px;
}

.logo {
  height: 46px;
  width: 46px;
  padding: 0;
  margin: 0;
}

header > button {
  min-height: 36px;
  border: none;
  border-radius: 4px;
  padding: 4px 16px;
}

header > button:hover {
  background-color: #b9b9b9;
}

/* main component styling */

main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 800px; */
  background-color: var(--grey-bg);
}

/* sidebar component styling */
aside {
  width: max-content;
  /* height: 800px; */
  border-right: 2px solid var(--grey-borders);
  display: grid;
  grid-template-columns: auto max-content;
  box-sizing: border-box;
  position: relative;
}

.edit-btn {
  justify-self: end;
  grid-column: 2/3;
  border: none;
  padding: 0px 10px;
  font-size: 18px;
  background-color: var(--grey-bg);
  width: 60px;
  transition: margin-left 500ms ease-in;
}

.edit-btn.close {
  margin-left: 0;
}
.edit-btn > svg {
  width: 36px;
  height: 36px;
  border-radius: 30px;
  transition: transform 200ms 0s ease;
}
.edit-btn.close > svg {
  transform: rotate(180deg);
}

.edit-panel {
  width: 300px;
  height: 100%;
  grid-column: 1/2;
  transition: all 0.5s ease-in;
}

.edit-panel.close {
  width: 0;
}

/* resume component styling */

.resume {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 48px 96px 48px 64px;
  gap: 40px;
  margin: 32px;
  flex: 1 1 auto;
  width: calc(21cm / 1.5);
  min-height: calc(29.7cm / 1.5);
  font-family: "Times New Roman", Times, serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.full-name {
  font-size: 42px;
  width: 400px;
}

.job-title {
  font-size: 18px;
}

.resume-container {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  font-size: 12px;
}

.resume-container > div > div > h2 {
  padding-bottom: 12px;
  position: relative;
  z-index: 1;
  font-size: 16px;
}

.resume-container > div > div > h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 1px;
  width: 50px;
  border-bottom: 2px solid rgb(0, 136, 255);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list-of-skills {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}
.list-of-skills > li {
  list-style-type: square;
}

.list-of-experiences > li {
  display: flex;
  gap: 32px;
}

.list-of-experiences .experience-title {
  font-weight: 700;
}

li > div {
  min-width: 60px;
}

.description {
  color: #000000cb;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media print {
  header,
  aside {
    display: none;
  }
  main {
    display: block;
    width: fit-content;
    height: fit-content;
    background-color: #fff;
  }
  .resume {
    margin: 0;
  }
}
