:root {
  --grey-borders: rgb(209, 210, 210);
  --grey-bg: rgba(238, 238, 238);
  --blue: rgb(0, 47, 255);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}
.app {
  display: grid;
  grid-template-rows: 1fr auto;
  box-sizing: border-box;
  position: relative;
}

/* header component styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 2px solid var(--grey-borders);
  grid-column: 1/2;
  height: 68px;
  box-sizing: border-box;
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: #fff;
}

header > h1 {
  font-size: 36px;
}

.logo {
  height: 46px;
  width: 46px;
  padding: 0;
  margin: 0;
}

header > button {
  min-height: 36px;
  border: none;
  border-radius: 4px;
  padding: 4px 16px;
}

header > button:hover {
  background-color: #b9b9b9;
}
/* app body styling */
.app-body {
  display: flex;
  width: 100%;
  justify-content: center;
}
/* main component styling */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey-bg);
  z-index: 1;
  flex: 1 1 auto;
  margin-left: 300px;
  transition: margin 300ms ease-in;
  margin-top: 68px;
  width: calc(100% - 360px);
}

/* sidebar component styling */
aside {
  border-right: 2px solid var(--grey-borders);
  display: grid;
  grid-template-columns: auto max-content;
  box-sizing: border-box;
  transition: transform 300ms ease-in;
  position: fixed;
  z-index: 3;
  top: 68px;
  left: 0px;
  background-color: #fff;
  height: calc(100vh - 68px);
}
aside.close {
  transform: translateX(-300px);
}

.edit-btn {
  justify-self: end;
  grid-column: 2/3;
  border: none;
  padding: 0px 10px;
  font-size: 18px;
  background-color: var(--grey-bg);
  width: 60px;
}

.edit-btn > svg {
  width: 36px;
  height: 36px;
  border-radius: 30px;
  transition: transform 200ms 0s ease;
}
.edit-btn.close > svg {
  transform: rotate(180deg);
}

.edit-panel {
  width: 300px;
  height: 100%;
  grid-column: 1/2;
  overflow-y: auto;
}

aside.close + main {
  margin-left: 0px;
}

/* resume component styling */

.resume {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 48px 96px 48px 64px;
  gap: 40px;
  margin: 32px;
  flex: 1 1 auto;
  width: calc(21cm / 1.5);
  min-height: calc(29.7cm / 1.5);
  font-family: "Times New Roman", Times, serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.full-name {
  font-size: 42px;
  width: 400px;
}

.job-title {
  font-size: 18px;
}

.resume-container {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  font-size: 12px;
}

.resume-container > div > div > h2 {
  padding-bottom: 12px;
  position: relative;
  z-index: 1;
  font-size: 16px;
}

.resume-container > div > div > h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 1px;
  width: 50px;
  border-bottom: 2px solid var(--blue);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list-of-skills {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  text-wrap: nowrap;
}
.list-of-skills > li {
  list-style-type: square;
}

.list-of-experiences > li {
  display: flex;
  gap: 32px;
}

.list-of-experiences .experience-title {
  font-weight: 700;
}

.resume-list > div {
  min-width: 60px;
}

.description {
  color: #000000cb;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* edit panel styling */

.edit-panel {
  display: flex;
  flex-direction: column;
}
.edit-panel-title {
  /* text-align: center; */
  z-index: -1;
  padding: 16px;
  font-size: 18px;
  border-bottom: 2px solid var(--grey-borders);
}

.title-extention {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-extention > button {
  background-color: #fff;
  border: none;
}

.title-extention > h2 {
  font-size: 16px;
}

.title-extention > button > svg {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
}

.edit-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 2px solid var(--grey-borders);
  padding: 16px;
}

input {
  position: relative;
  min-width: 100%;
  height: 35px;
  border: 1px solid var(--grey-borders);
  padding: 6px;
  border-radius: 3px;
  background: transparent;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.input {
  position: relative;
  width: 100%;
}

label {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 1px;
  transform: translate(0, -50%);
  padding: 4px;
  font-size: 14px;
  transition: transform 200ms 0s ease;
  z-index: 1;
  padding-left: 10%;
  width: 100px;
}

input:focus-visible + label,
label.active {
  transform: translate(-10%, -130%) scale(0.8);
  padding-left: 4px;
  left: 8%;
  width: auto;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  padding: 6px;
  box-sizing: border-box;
}

li.exp-history,
li.edu-history {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 12px;
  border: var(--grey-borders) solid 1px;
  padding: 8px 10px;
  background-color: var(--grey-bg);
  border-radius: 3px;
  border: none;
}
.exp-history > div,
.edu-history > div {
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  height: 18px;
}
.exp-history > div > div,
.edu-history > div > div {
  max-width: 100%;
  width: 100%;
  font-size: 14px;
}
.edu-titles {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 12px;
  border: var(--grey-borders) solid 1px;
  padding: 8px 10px;
  background-color: var(--grey-bg);
  border-radius: 3px;
  border: none;
}
.exp-titles {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 12px;
  border: var(--grey-borders) solid 1px;
  padding: 8px 10px;
  background-color: var(--grey-bg);
  border-radius: 3px;
  border: none;
}
.history-btn {
  margin-left: auto;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}
.history-btn > button > svg {
  width: 20px;
  height: 20px;
}

.history-btn > button {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 20px;
}

.add-more {
  background-color: transparent;
  border: none;
  color: var(--blue);
  font-weight: 700;
}
ul {
  padding: 0;
}
ul.exps,
ul.edus {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.exp-input-btns,
.edu-input-btns {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.exp-input-btns > button,
.edu-input-btns > button {
  background-color: var(--grey-bg);
  border: none;
  border-radius: 5px;
  padding: 6px;
  width: 65px;
}
.exp-history,
.edu-history {
  position: relative;
}
.exp-history > div > span,
.edu-history > div > span {
  display: none;
}
.exp-history > div:hover > span,
.edu-history > div:hover > span {
  display: block;
  position: absolute;
  bottom: -15px;
  z-index: 3;
  background-color: #ffffff96;
  padding: 6px;
  font-size: 12px;
  width: max-content;
  border-radius: 6px;
}

/* skill section style */
.skill-icon {
  width: 20px;
  height: 20px;
}
.skill-box {
  display: flex;
  gap: 8px;
  background: var(--grey-bg);
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 14px;
}
.delete-skill > button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.skills-list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.add-skill {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.add-skill > button {
  max-width: 30px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  padding: 4px;
  position: absolute;
  right: 3%;
  top: 50%;
}
/* print style */

@media print {
  header,
  aside {
    display: none;
  }
  main {
    display: block;
    width: fit-content;
    height: fit-content;
    background-color: #fff;
  }
  .resume {
    margin: 0;
  }
}
